<br>

<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-while mb-3" id="total-campaign">
                <div class="class-header">
                    <h5 class="card-title">Total Campaigns</h5>
                </div>
                <div class="card card-body">
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-while mb-3" id="total-completed-funding">
                <div class="class-header">
                    <h5 class="card-title">Total Completed Funding</h5>
                </div>
                <div class="card card-body">
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-while mb-3" id="total-pending-funding">
                <div class="class-header">
                    <h5 class="card-title">Total Pending Funding</h5>
                </div>
                <div class="card card-body">
                    <h3 class="card-title"></h3>
                </div>
            </div>
        </div>
    </div>
</div>
