{% extends 'campaign/main.html' %}

{% block content %}

<br>

<div class="row">
    <div class="col-md">
        <h5>Crowdfunding:</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="">Create your campaign</a>
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Campaigner</th>
                    <th>Campaign Duration</th>
                    <th>Fund Goal</th>
                </tr>
            </table>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md">
        <h5>Funder:</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="">Create your account</a>
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Campaign</th>
                    <th>Funding</th>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}

